appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
blis==0.7.9
bpemb==0.3.4
brotlipy==0.7.0
catalogue==2.0.8
colorama==0.4.6
comtypes==1.1.10
confection==0.0.4
conllu==4.5.2
constantly==15.1.0
cssselect==1.1.0
cymem==2.0.7
cytoolz==0.11.0
flair==0.11.3
fonttools==4.25.0
ftfy==6.1.1
funcy==1.18
gdown==4.4.0
gunicorn==20.1.0
hyperopt==0.2.7
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==3.10.1
inflection==0.5.1
Janome==0.4.2
joblib==1.2.0
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
numpy==1.22.0
pep8==1.7.1
Pillow==9.2.0
pycurl==7.45.1
pydantic==1.10.5
PyDispatcher==2.0.5
pyLDAvis==3.4.0
pyls-spyder==0.4.0
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
PyYAML==6.0
queuelib==1.5.0
scikit-learn==1.0.2
scipy==1.9.1
segtok==1.5.11
sentencepiece==0.1.95
sip==4.19.13
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlitedict==2.1.0
srsly==2.4.5
statsmodels==0.13.2
tables==3.6.1
textblob==0.17.1
thinc==8.1.7
tokenizers==0.13.2
torch==1.13.1
transformers==4.26.1
typer==0.7.0
wasabi==1.1.1
webencodings==0.5.1
win-unicode-console==0.5
xgboost==1.7.4
zict==2.1.0
