<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Submit Data</title>
</head>
<body>
    <h1> Wine Description Analysis and Modeling </h1>
    <p> The wine industry is full of history and tradition. For those interested in the topic, this presents an abundance of opportunities to explore a variety of unique wines and document their experiences. Unfortunately, this history and tradition often presents a barrier to entry for those new to the hobby with the sheer number and diversity of products, often causing confusion and uncertainty . This project aims to help bridge this knowledge gap by identifying key verbiage present in descriptions and tasting notes as means of differentiating popular variants wine and estimating their quality.</p>
    <p> Enter your text description of a wine in the form below to predict the wine's primary and regional variety as well as an estimate of the wine's critical rating.</p>
    <form method="post">
        <label for="input_data">Description Data:</label>
        <input type="text" id="description_data" name="description_data" size="100" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>